:root {
  /* Primary Colors */
  --clr--cyan: hsl(179, 62%, 43%);
  --clr--bright-yellow: hsl(71, 73%, 54%);

  /* Neutral Colors */

  --clr-light-gray: hsl(204, 43%, 93%);
  --clr-grayish-blue: hsl(218, 22%, 67%);
}
